---
import Layout, { type PageInfo } from "@/layouts/Layout.astro";
import { getTotals } from "@/models/GameSummary.ts";

import FindTab from '@/components/tabs/games/FindTab.astro'

const games = await getTotals()
const meta: PageInfo = {
	title: "Games",
	description: "Find and filter previously played games",
    hero: {
        subtitle: `${games.totalGames.toLocaleString()} games played`
    }
}
export const prerender = false
meta.noIndex = meta.noFollow = Astro.url.searchParams.size > 0 // Disable indexing/follow if any queries have been set
---

<Layout meta={meta}>
	<div class="container mb-6">
        <nav class="tabs is-centered">
        <div class="container">
            <ul>
                <li class:list={{"is-active": false }}><a href="/recent-games">Recent Games</a></li>
                <li class:list={{"is-active": true }}><a href="/find-games">Search Games</a></li>
            </ul>
        </div>
        </nav>

       <FindTab />
	</div>
</Layout>