---
import Layout, { type PageInfo } from "@/layouts/Layout.astro";
import Card from '@/components/bulma/Card.astro'
import { Icon } from "astro-icon/components";
const meta: PageInfo = {
	hero: { title: "L4D2 Stats", subtitle: "" }
}

export const prerender = true
---

<Layout meta={meta}>
<div class="container">
	<div class="content box">
		<div class="block is-size-4">
			<h4>Left 4 Dead 2 Statistics</h4>
			<p>Welcome to the L4D2 stats website. Here you can view statistics about any played games, view the map ratings, see the player leaderboards, and view player's stats.</p>
			<p>This site shows recorded statistics for servers using the <a href="https://github.com/jackzmc/l4d2-stats-plugin">L4D2 Stats Plugin</a> in-game.</p>
		</div>
		<hr>
		
		<h4>FAQ</h4>
		<div class="block ml-2">
			<Card type="has-background-primary-light" title="Campaign MVP" collapsed>
				<p>Campaign MVP is determined by the player with the first player with the highest or lowest value in each category:</p>
				<ol>
					<li>Special Infected Killed <em>(highest number)</em></li>
					<li>Survivor FF Count <em>(lowest number)</em></li>
					<li>Zombie Kills <em>(highest number)</em></li>
					<li>Damage Taken <em>(lowest number)</em></li>
				</ol>
			</Card>
		</div>
		<div class="block ml-2">
			<Card type="has-background-primary-light" title="Points Breakdown" collapsed>
				<p style="max-width:800px">Points are gained or lost from certain actions in a game that a player performed. List below breaks down how the points are acquired or lost.</p>
				<p style="max-width:800px">In addition, points are reset every month and the leaderboards will show the points earned that month. You can view on a player's profile how they earned their points, and see their total lifetime accumlated points</p>
				<ul>
					<li><span class="tag is-success">+1</span> per common killed (any damage type)</li>
					<li><span class="tag is-success">+2</span> per common headshot (bonus to common kill)</li>
					<li><span class="tag is-success">+6</span> per special kill</li>
					<li><span class="tag is-success">+200</span> per tank kill</li>
					<li><span class="tag is-success">+100</span> per tank kill solo (in addition to tank kill)</li>
					<li><span class="tag is-success">+50</span> per tank kill melee (in addition to tank kill))</li>
					<li><span class="tag is-success">+25</span> per witch kill</li>
					<li><span class="tag is-success">+10</span> per heal teammate</li>
					<li><span class="tag is-success">+5</span> per revive teammate</li>
					<li><span class="tag is-success">+7</span> per teammate defibbed</li>
					<li><span class="tag is-success">+2</span> per ammo pack deploy</li>
					<li><span class="tag is-success">+100</span> per witch crowned</li>
					<li><span class="tag is-success">+5</span> per smoker self cleared</li>
					<li><span class="tag is-success">+5</span> per hunter dead stopped</li>
					<br>
					<li><span class="tag is-danger">-500</span> for teammate kill</li>
					<li><span class="tag is-danger">-5</span> per teammate dmg</li>
				</ul>
			</Card>
		</div>
		<br>
	</div>
	<footer>
		<h6 class="has-text-centered title is-6 mt-6">Credits</h6>
		<nav class="level">
			<div class='level-item has-text-centered'>
				<p>
					<Icon name="iconoir:github" />
					<b><a href="https://github.com/jackzmc/l4d2-stats-plugin">Jackzmc/l4d2-stats-plugin</a></b>
				</p>
			</div>
			<div class='level-item has-text-centered'>
				<p>Icon Set <b><a href="https://github.com/iconoir-icons/iconoir">Iconoir</a></b> by Luca Burgio</p></div>
			<div class='level-item has-text-centered'>
				<p>Built with <b><a href="https://astro.build">Astro</a></b></p>
			</div>
			<div class='level-item has-text-centered'>
				<p>CSS Framework <b><a href="https://bulma.io">Bulma</a></b> used</p>
			</div>
		</nav>
	</footer>
</div>
</Layout>
