---
import Layout, { type PageInfo } from "@/layouts/Layout.astro";
import { getTotals } from "@/models/GameSummary.ts";

import RecentTab from '@/components/tabs/games/RecentTab.astro'

const games = await getTotals()
const meta: PageInfo = {
	title: "Games",
	description: "View recently played games or search through all played games",
    hero: {
        subtitle: `${games.totalGames.toLocaleString()} games played`
    }
}

Astro.response.headers.set('Cache-Control', 'public, max-age=120');
export const prerender = false
---

<Layout meta={meta}>
	<div class="container mb-6">
        <nav class="tabs is-centered">
        <div class="container">
            <ul>
                <li class:list={{"is-active": true }}><a href="/recent-games">Recent Games</a></li>
                <li class:list={{"is-active": false }}><a href="/find-games">Search Games</a></li>
            </ul>
        </div>
        </nav>

       <RecentTab />
	</div>
</Layout>