---
import BulmaIcon from "../../../components/bulma/BulmaIcon.astro";
import MapBox from "../../../components/misc/MapBox.astro";
import { getRecentGames } from "../../../models/Game.ts";
const maps = await getRecentGames()
---

<div class="block has-text-centered ">
    <div class="level">
        <div class="level-item">
            <div class="button is-rounded">
                <BulmaIcon name="iconoir:nav-arrow-left" textRight="Previous" size={32} />
            </div>
        </div>
        <div class="level-item">
            Page 1
        </div>
        <div class="level-item">
            <div class="button is-rounded is-pulled-right">
                <BulmaIcon name="iconoir:nav-arrow-right" textLeft="Next" size={32} />
            </div>
        </div>
    </div>
</div>
<div class="fixed-grid has-4-cols">
    <div class="grid">
        {maps.map(map => 
            <div class="cell">
                <MapBox map={map} />
            </div>
        )}
    </div>
</div>