---
import SimplePagination from "@/components/bulma/SimplePagination.astro";
import MapBox from "@/components/misc/MapBox.astro";
import { getRecentGames } from "@/models/Game.ts";
import { getSearchParamNumber } from '@/utils/index.ts'

const page = getSearchParamNumber(Astro, "page", 1)!

const games = await getRecentGames(page)


---

<div class="block has-text-centered ">
    <SimplePagination currentPage={page} />
</div>
<div class="grid is-col-min-12">
    {games.map(game => 
        <div class="cell is-col-min-8">
            <MapBox map={game} />
        </div>
    )}
</div>