---
import UserSearch from '../UserSearch.astro';

export interface Props {
    siteTitle?: string;
}
const { siteTitle } = Astro.props;

interface PageRecord {
    title: string;
    href: string;
}
const PAGES: PageRecord[] = [
    { title: "Leaderboards", href: "/leaderboards" },
    { title: "Summary", href: "/summary" },
    { title: "Maps", href: "/maps" },
    { title: "Game Summaries", href: "/games" },
];
---

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <b>{siteTitle}</b>
        </a>

        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
        >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            {
                PAGES.map((page) => {
                    const isActive = Astro.url.pathname.startsWith(page.href) 
                        && Astro.response.status === 200 // don't mark is-active when on 404 / 500 pages
                    return <a class:list={["navbar-item", {'has-background-link-light': isActive }]} href={page.href}>
                        {page.title}
                    </a>
                })
            }
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <UserSearch />
            </div>
        </div>
    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target!.classList.toggle('is-active');

    });
  });

});
</script>