---
import type { ColorType } from '@/types/bulma.ts'

interface Props {
    title?: string,
    subtitle?: string,
    
    type?: ColorType,
    size?: "is-small" | "is-medium" | "is-large" | "is-half-height" | "is-fullheight",
    class?: string,
    centered?: boolean,

    includeSpacing?: boolean,
}
const { title, subtitle, type, size, centered, class: extraClasses, includeSpacing = true, ...any } = Astro.props
---

<section class:list={["hero", extraClasses, type, size, { 'has-text-centered': centered } ]} {...any}>
    <div class="hero-body">
        <p class="title">{title}</p>
        <p class="subtitle pt-2" set:html={subtitle} />
    </div>
</section>
{includeSpacing && <br />}
