---
import CountUp from '../CountUp.astro'

interface Props  {
    title: string,
    value: number | string,

    suffix?: string,
    class?: any,

    countup?: boolean
}
const { title, class: className, value, suffix = "", countup = false } = Astro.props

---
<div class:list={["level-item", className]}>
    <div>
        <p class:list={["heading", className]}>{title}</p>
        {countup && <CountUp  class:list={["title", className]} number={value as number} />}
        {!countup && <p class:list={["title", className]}>{typeof value === "number" ? value.toLocaleString() : value} {suffix}</p>}
    </div>
</div>