---
import type { HTMLAttributes } from 'astro/types'
import type { TextColor } from '@/types/bulma.ts'

interface Props extends HTMLAttributes<"div"> {
    nav?: boolean,
    children: any,
    color?: TextColor,
    class?: any

    centered?: boolean
}
const { nav = false, color = "", class: className, centered = true, ...attrs } = Astro.props

const Component = nav ? "nav" : "div"
---
<Component class:list={["level", {'has-text-centered': centered }, className]} {...attrs}>
    {Astro.slots.has("left") && <div class="level-left"><slot name="left" /></div>}
    <slot />
    {Astro.slots.has("left") && <div class="level-left"><slot name="right" /></div>}
</Component>