---
import CountUp from '../CountUp.astro'

interface Props  {
    title?: string,
    value?: number | string,

    suffix?: string,
    class?: any,

    countup?: boolean,
    tooltip?: string,

    decimals?: number
}
const { title, class: className, value, suffix = "", countup = false, tooltip, decimals = undefined } = Astro.props

---
<div class:list={["level-item", className]} title={tooltip}>
    <slot>
        <div>
            <p class:list={["heading", className]}>{title}</p>
            {countup && <CountUp  class:list={["title", className]} number={value as number} />}
            {!countup && <p class:list={["title", className]}>
                {typeof value === "number" 
                    ? value.toLocaleString(undefined, { maximumFractionDigits: decimals }) 
                    : value
                }{suffix}
            </p>}
        </div>
    </slot>
</div>