---
import { replaceRoute } from "@/utils/index.ts";
import BulmaIcon from "./BulmaIcon.astro";
import Button from "./Button.astro";
interface Props {
    maxPages?: number
    currentPage?: number,

    queryName?: string
}
const { maxPages, currentPage = 1, queryName = "page" } = Astro.props

const canGoBack = currentPage > 1
const canGoNext = maxPages != undefined ? currentPage < maxPages : true
---
<div class="level">
        <div class="level-item">
            <Button rounded disabled={!canGoBack} href={replaceRoute(Astro, {}, { [queryName]: currentPage - 1 })}>
                <BulmaIcon name="iconoir:nav-arrow-left" textRight="Previous" size={32} />
            </Button>
        </div>
        <div class="level-item">
            Page {currentPage}
        </div>
        <div class="level-item">
            <Button rounded disabled={!canGoNext} href={replaceRoute(Astro, {}, { [queryName]: currentPage + 1 })} class="is-pulled-right" >
                <BulmaIcon name="iconoir:nav-arrow-right" textLeft="Next" size={32} />
            </Button>
        </div>
    </div>