:root {
  --bulma-primary-h: 25deg;
  --bulma-primary-s: 93%;
  --bulma-primary-l: 58%;
  --bulma-info-l: 80%;
  --bulma-success-s: 50%;
}

body,html {
  background-color: hsl(0, 0%, 96%);
}

/* @font-face {
  font-family: 'Futurot';
  src: url('/fonts/futurot.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

.l4d2-text {
  font-family: var(--font-futurot);
}

.full-height {
  height: 100%;
}

.hero-map-bg {
  background-position: center;
}