---
interface Props {
    number: number,
    class?: any,
    precision?: number
}
const { number, class: className, precision = 0 } = Astro.props
function formatNumber(number: number) {
    return Number(number).toLocaleString(undefined, {
        maximumFractionDigits: precision
    })
}
---

<span data-count={number} class:list={[className]}>{formatNumber(number)}</span>

<script>
import { CountUp }  from "countup.js";

const countersElems = document.querySelectorAll<HTMLElement>("span[data-count]")
for(const counterElem of countersElems) {
    const counter = new CountUp(counterElem, Number(counterElem.dataset.count))
    counter.start()
}
</script>