---
import { Icon } from 'astro-icon/components'
import Field from './bulma/Field.astro'
---
<form method="post" action="/search">
    <Field iconLeft="proicons:search" iconLeftProps={{class: "has-text-black"}}>
        <input class="input" type="text" placeholder="Search users" />
    </Field>
</form>
