---
import Field from './bulma/Field.astro'
---
<form method="post" action="/search">
    <Field iconLeft="weui:search-filled" iconLeftProps={{class: "has-text-black"}}>
        <input class="input" type="text" placeholder="Search users" />
    </Field>
</form>
